@page "/login"
@layout LayoutAuth

<header class="shadow-lg mb-4">
    <div class="container mx-auto py-4 px-6 lg:px-0 flex justify-between items-center ">
        <div class="flex items-center gap-2">
            <a href="/" class="text-xl text-secondary font-semibold">eGatang</a>
            <label class="text-text text-xl">Login</label>
        </div>
        <a href="/help" class="hover:text-secondary">Need Help?</a>
    </div>
</header>

<main class="flex justify-center items-center flex-grow mb-8 px-6 lg:px-0">
    <div class="container mx-auto md:grid grid-cols-2">

        <div class="hidden md:flex justify-center items-center">
            <img src="https://archaeology.org/wp-content/uploads/2024/02/Letter-From_Opener-2048x1366.jpg"
                 class="h-full w-full object-cover rounded-lg" />
        </div>

        <div class="flex justify-center items-center bg-white">
            <div class="p-8 rounded-lg shadow-lg">
                <form>
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-text mb-1">Username</label>
                        <input class="w-full px-4 py-2 border rounded focus:outline-none focus:ring focus:border-primary" />
                    </div>

                    <div class="mb-6">
                        <label class="block text-sm font-medium text-text mb-1">Password</label>
                        <input class="w-full px-4 py-2 border rounded focus:outline-none focus:ring focus:border-primary" />
                    </div>

                    <button type="submit"
                            class="w-full bg-secondary text-white py-2 rounded hover:bg-primary transition duration-200">
                        Login
                    </button>
                </form>

                <div class="mt-4 flex items-center gap-2">
                    <div class="flex-grow border-t border-gray-300"></div>
                    <div class="text-sm font-semibold text-gray-500">OR</div>
                    <div class="flex-grow border-t border-gray-300"></div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-4">

                    <div class="flex items-center justify-center p-3 bg-white rounded shadow-lg hover:bg-background cursor-pointer">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/2021_Facebook_icon.svg"
                             alt="Facebook" class="h-6 object-contain" />
                        <label class="text-sm text-secondary font-semibold ml-2">Facebook</label>
                    </div>

                    <div class="flex items-center justify-center p-3 bg-white rounded shadow-lg hover:bg-background cursor-pointer">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/archive/c/c1/20230822192910%21Google_%22G%22_logo.svg"
                             alt="Google" class="h-6 object-contain" />
                        <label class="text-sm text-secondary font-semibold ml-2">Google</label>
                    </div>
                </div>

                <p class="text-sm text-center text-gray-500 mt-4">
                    Don't have an account?
                    <a href="/register" class="text-primary hover:underline">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
</main>