<footer class="border-t-2 border-secondary px-6 lg:px-0">

    <div class="container mx-auto py-4">

        <div class="flex flex-col justify-center items-center py-6">
            <h2 class="font-semibold text-lg text-secondary mb-4">About eGatang</h2>
            <p class="text-text">
                <strong class="text-secondary">eGatang</strong> is an e-commerce platform where users can buy and sell products. The name "eGatang" is derived from the Tuwali word <em>gumatang</em>, meaning "to buy," and <em>i-gatang</em>, meaning "to sell."
            </p>
        </div>

        <div class="flex flex-col sm:flex-row gap-5 py-6">
            <div class="flex flex-col gap-2">
                <h2 class="font-semibold text-lg text-text mb-2">Payment Methods</h2>

                <div class="grid grid-cols-3 gap-2">
                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/GCash_logo.svg"
                             alt="GCash" class="h-3 object-contain" />
                    </div>

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Paymaya_logo.svg"
                             alt="PayMaya" class="h-3 object-contain" />
                    </div>

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png"
                             alt="Visa" class="h-3 object-contain" />
                    </div>

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg"
                             alt="Mastercard" class="h-3 object-contain" />
                    </div>

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://getlogovector.com/wp-content/uploads/2023/06/bank-of-the-philippine-islands-bpi-logo-vector.png"
                             alt="BPI" class="h-3 object-contain" />
                    </div>
                </div>

            </div>

            <div class="flex flex-col gap-2">

                <h2 class="font-semibold text-lg text-text mb-2">Logistics</h2>

                <div class="grid grid-cols-3 gap-2">

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/J%26T_Express_logo.svg"
                             alt="J&T Express" class="h-3 object-contain" />
                    </div>

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/2GO_logo.svg"
                             alt="2GO Express" class="h-3 object-contain" />
                    </div>

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Ninjavan.svg"
                             alt="Ninja Van" class="h-3 object-contain" />
                    </div>

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="https://cdn.brandfetch.io/idzqDyW4sQ/theme/dark/logo.svg?c=1dxbfHSJFAPEGdCLU4o5B"
                             alt="Flash Express" class="h-3 object-contain" />
                    </div>

                    <div class="flex items-center justify-center shadow-md p-3">
                        <img src="/images/epaw-it.png"
                             alt="ePaw-it Services" class="h-3 object-contain" />
                    </div>

                </div>
            </div>

            <div class="flex flex-col gap-2">
                <h2 class="font-semibold text-lg text-text mb-2">Follow Us</h2>
                <div class="flex gap-2">
                    <a href="https://www.facebook.com/egatangofficial" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                             alt="Facebook" class="h-5 object-contain" />
                    </a>
                    <a href="https://www.instagram.com/egatangofficial" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg"
                             alt="Instagram" class="h-5 object-contain" />
                    </a>
                    <a href="https://www.x.com/egatangofficial" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/X_logo_twitter_new_brand_icon.svg"
                             alt="X" class="h-5 object-contain" />
                    </a>
                    <a href="https://www.tiktok.com/en/egatangofficial" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Tiktok_icon.svg"
                             alt="Tiktok" class="h-5 object-contain" />
                    </a>
                </div>
            </div>

        </div>

        <div class="flex flex-col sm:flex-row justify-between items-center text-text text-sm py-6">
            <label>
                &copy; 2025 Project: E-Commerce. All rights reserved.
            </label>
            <label>
                Country & Region: Philippines
            </label>
        </div>

    </div>

</footer>