@rendermode InteractiveServer

<div class="bg-secondary text-white py-2 px-6 lg:px-0">

    <div class="container mx-auto flex justify-between items-center gap-5 text-sm lg:text-md">
        <div class="flex gap-4">
            <a href="/selling" class="hover:text-primary">Start Selling</a>
            <a href="/track" class="hover:text-primary">Track Order</a>
            <a href="/express" class="hover:text-primary">
                ePaw-it Services
            </a>
        </div>

        <div class="hidden md:flex gap-4">
            <a href="/about" class="hover:text-primary">Help?</a>
            <a href="/privacy" class="hover:text-primary">Privacy Policy</a>
            <a href="/login" class="hover:text-primary">Login</a>
            <a href="/register" class="hover:text-primary">Sign Up</a>
        </div>

        <div class="flex md:hidden gap-4">
            <a href="/about" class="hover:text-primary">Help?</a>
        </div>

    </div>

</div>
